.img {
  display: inline-block;
  padding: 5%;
  border: 5px solid blue;
  width: 50%;
  box-sizing: border-box;
}

div {
  white-space: nowrap;
}

body {
  background-image: url("../images/sun-pattern.png");
}
