body {
  background-color: #999999;
  margin-top:0px;
  margin-left:6%;
  margin-right: 6%;
}

h1, h2, a, p, li {
  font-family: Times;
}

header h1 {
  background-color: #FFFD38;
  margin:0px;
  text-align: right;
}

nav {
  text-align:center;
  background-color: green;
  height:38px;
}

nav ul {
list-style: none;
margin: 0px;
padding: 0px;
overflow: hidden;
display:inline-block;
}

nav li
{
float:left;
}

nav a {
  display: block;
  width: 190px;
  color: white;
  background-color:black;
  text-align: center;
  padding:10px;
  margin-left: 5px;
}

nav a:link { text-decoration: none;color: white}

#wrap {
  background-color: #545549;
}

h1 {
  margin: 0px;
}

#content ul {
  list-style: none;
  text-align: center;
  margin: -15px;
}

aside {
  float: right;
  width: 13%;
  height: 381px;
  background-color: white;
}

img{
  width:80%;
}

.copyright {
  font-family: Times;
  background-color: green;
  padding: 10px;
}
