.navbar-nav li a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

#myNavbar {
  padding-left: 5%;
  padding-right: 5%;
}
.navbar-brand {
    width: 50%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 50%;
    margin-left: -60px !important;
    display: block;
}
.navbar-toggle {
    z-index:3;
}

.navbar {
  padding-top: 2%;
  margin-bottom: 0;
  border: 0;
  background-color: #FFF;
  position: relative;
}

.navbar, .navbar-default {
  height: 8em;
}



.navbar-brand img{
  width:80px;
  margin: 0;
}

.container figure img{
  width:100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.project-real-content {
  height: auto;
  overflow: auto;
}

.project-real-content .regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  margin-bottom: 40px;
}

.project-real-content h2 {
  color: black;
  font-weight: 400;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.project-real-content h3 {
  font-size: 18px;
  color: #4a4a4a;
  font-weight: 400;
  margin-top: 30px;
}

.project-real-content .img-responsive {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer {
  width: 100%;
  padding: 3%;
  color: #000;
  background-color: #FFF;
  /*border-top: 1px solid #000;*/
}

i {
  font-size: 30px;
  margin: 30px 20px;
  color: #000;
}

/*加加加*/

.header {
  width: 101%;
  padding: 2em 0 1em;
  background: #FFF;
  font-size: 3em;
  line-height: 0;
  text-align: center;
  margin-bottom: 2%;
}

.header-im {
  margin: 0;
  display: inline-block;
  height: 2em;
  overflow: hidden;
  color: #000;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5em;
 }

 .slogan {
   font-family: "Open Sans";
   font-size: 20px;
   font-weight: 600;
   color: rgba(92,102,173,0.6);
   letter-spacing: .02em;
   line-height: 1.5em
 }

 #map {
   height: 400px;
   width: 100%;
   background-color: grey
}
